@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";




nav{
    color: aliceblue;
}
body{
    font-family: Roboto, Helvetica-neue, Helvetica, sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: lato, sans-serif;
};

.service:hover{
    background: linear-gradient(to bottom, rgba(0, 0, 225, 0.733),rgba(0, 0, 225, 0.678)
    url('src/assets/bg-emergency.jpg') center/cover)
}
